<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
<<<<<<< HEAD
    OOPS, page not found!
=======
    OOPS, page not found :)
>>>>>>> b6d3315cfed4570961c6beb7c7b3bce3100de819
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>